@import "tailwindcss";

/* Minimal base to fit Electron window */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(248 250 252); /* slate-50 */
  color: rgb(15 23 42); /* slate-900 */
}
